* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  height: 100vh;
}

#calculator {
  margin: 50px auto;
  height: 700px;
  width: 600px;
  background-color: black;
}
#navbar {
  height: 200px;
  background-color: orange;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
}
#header {
  flex-grow: 1;
  width: 90px;
  height: 90px;
  background-color: pink;
}
#lightmode {
  flex-grow: 1;
  width: 90px;
  height: 90px;
  background-color: white;
}

#screen-and-numbers {
  height: 400px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
#screen {
  height: 100px;
  width: 100%;
  background-color: red;
}
#numbers {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
