* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  height: 100vh;
}

#calculator {
  margin: 50px auto;
  height: 700px;
  width: 600px;
  background-color: black;
}
#navbar {
  height: 200px;
  background-color: orange;
  width: 100%;
}
#header {
  width: 90px;
  height: 90px;
  background-color: pink;
}
#lightmode {
  width: 90px;
  height: 90px;
  background-color: white;
}

#screen-and-numbers {
  height: 400px;
  width: 100%;
  background-color: white;
}
